html,
body {
    height: 100vh;
    margin: 0px;
}

.Leftcontent {
    height: 100%;
    width: 40%;
    position: fixed;
    float: left;
    overflow: hidden;
    box-shadow: 0 0 10px 1px black;
}

.Rightcontent {
    height: 100%;
    width: 60%;
    margin: 0;
    float: right;
    animation: none;
}



.Overview {
    text-align: center;
    /*box-shadow: inset 0px -5px 20px -10px black;*/
}

.Avatar {
    border-width: 3px;
    border-radius: 50%;
    border-style: solid;
    height: 80px;
    width: 80px;
    border-color: rgba(255, 255, 255, 0.637);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.562);
    margin-top: 20%;
    cursor: pointer;
    transition: 250ms;
}

.Avatar:hover {
    transform: scale(1.1);
}

.cover {
    position: fixed;
    background-color: rgba(75, 58, 14, 0.301);
    width: 40%;
    height: 100%;
    z-index: -2;
}

.bgimg {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("/img/back.jpg");
    z-index: -100;
    background-size: cover;
}

.namefontch {
    font-family: Microsoft JhengHei;
    font-size: 22px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin: 5% 0 0 0;

}

ul li {
    list-style: none;
    display: inline-block;
}

li {
    cursor: pointer;
    padding: 5px;
}

ul {
    padding: 0px;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.137);
    box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.397);
    transition: 250ms;
}

.Leftcontent a {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0px;
}

.icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    transition: 250ms;
}

.icon:hover {
    transform: scale(1.25);
}

.introfontch {
    font-family: Microsoft JhengHei;
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-align: left;
    margin: 5% 10% 0 10%;

}

.rightmask {
    position: fixed;
    height: 100vh;
    width: 60%;
    left: 40%;
    z-index: 50;
    mix-blend-mode: difference;
    background-color: rgb(255, 255, 255);
    pointer-events: none;
    opacity: 0;

}

.leftmask {
    position: fixed;
    height: 100vh;
    width: 40%;
    z-index: 50;
    mix-blend-mode: difference;
    background-color: rgb(66, 66, 66);
    pointer-events: none;
    opacity: 0;

}

.textspace{
    height: 200px;margin: 0px;
}
.space {
    height: 84px;
}

.hometitle {
    height: 40px;
    width: 90%;
    text-align: left;
    font-size: 40px;
    margin: 10px 0 50px 10%;
}

.hometext {
    height: auto;
    width: 60%;
    text-align: left;
    font-size: 20px;
    margin: 0 0 10px 10%;
}

.homeicon {
    animation: none;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    height: 20px;
    filter: invert(100%);
    vertical-align: middle;
}

.homeicon:hover {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}

#fadecontent {
    height: auto;
    width: 100%;
    margin: 0;
    opacity: 0;
}

.aclick {
    position: relative;

}

.aclick:link {
    color: black;
}

.aclick:visited {
    color: black;
}

.aclick:hover {
    color: black;
}

.aclick:active {
    color: black;
}

.window {
    position: fixed;
    height: 80%;
    width: 50%;
    top: 10%;
    left: 45%;
    border-width: 20px 1px 1px;
    border-radius: 1.5%;
    border-style: solid;
    z-index: 10;
    background-color: rgb(222, 224, 219);
    overflow: auto;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.822);
}

.record {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 60px black solid;
    background-color: rgb(97, 13, 13);
    margin: 5%;
}

audio {
    height: 20px;
    width: 240px;
    background-color: #F1F3F4;
    border: #F1F3F4 solid;
    border-width: 15px 0px 15px 0px;
    display: block;
    margin: 5%;

}